<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="db03b09a81b82c44bcbe0ba21a008dd95cEntities" connectionString="metadata=res://*/RecipiesModel.csdl|res://*/RecipiesModel.ssdl|res://*/RecipiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=03b09a81-b82c-44bc-be0b-a21a008dd95c.sqlserver.sequelizer.com;initial catalog=db03b09a81b82c44bcbe0ba21a008dd95c;persist security info=True;user id=niwiudngmmaetlpp;password=DezvqGJgGD2746bCeYF5ZZDw7uTcCrFz8VbHjpK7TVTspGtFAFg33PSMGdx5WFKq;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>